{% extends 'crud/base.html' %}

{% block content %}
    <div class="container">
        <h2>HOME</h2><br>
        {% for blog in blogs %}
            <h2>{{ blog.title }}</h2>
            <a class="btn btn-outline-primary" href="{% url 'detail_blog_page' blog.id %}">Read</a>
            <a class="btn btn-outline-primary" href="{% url 'update_blog_page' blog.id %}">Update</a>
            <a class="btn btn-outline-primary" href="{% url 'delete_blog_page' blog.id %}">Delete</a>
            <h6>{{ blog.body|truncatechars:255 }}</h6>
            <small>{{ blog.create_date }}</small>
            <small>{{ blog.update_date }}</small><br><br>
        {% endfor %}
    </div>
{% endblock %}
