{% extends 'crud/../base.html' %}

{% block content %}
    <div class="container">
        <h4>HOME PAGE</h4><br>
        {% for blog in blogs %}

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    {#                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>#}
                    <p class="card-text">{{ blog.body|truncatechars:255 }}</p>
                    <a class="btn btn-outline-primary" href="{% url 'detail_blog_page' blog.id %}">Read</a>
                    <a class="btn btn-outline-primary" href="{% url 'update_blog_page' blog.id %}">Update</a>
                    <a class="btn btn-outline-danger" href="{% url 'delete_blog_page' blog.id %}">Delete</a>
                </div>
            </div>

            <br>
        {% endfor %}
    </div>
{% endblock %}
